html{
    font-size: 62.5%;
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: #EDEDED;
}
header{
    text-align: center;
}
header h1{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 4rem;
}
header h2{
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 4rem;
}
section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}
.game{
    display: flex;
    justify-content: center;
}
.game__container{
    background: white;
    width: 350px;
    height: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.selectBtn{
margin: 1rem 4rem;
background-color: #333333;
color: rgb(255, 255, 255);
border-radius: 8px;
padding: .8rem;
border: none;
cursor: pointer;
outline: none;
}
.selectBtn {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 23px;
    outline: none;
    padding: .75rem 8rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .selectBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .selectBtn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

.game__containerHeader{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-size: 2.5rem;
}

.playerName{
    margin-left: 1rem;
    font-weight: bold;
}
.game__containerBody{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
font-size: 2rem;
}
input{
    border-radius: 8px;
    padding: .8rem;
    border: none;
    outline: none;

}
input:active{
    outline:#333333;
}
input::placeholder{
    opacity: .5;
}
.addBtn{
    margin: 1rem 0.5rem;
background-color: #333333;
color: white;
border-radius: 8px;
padding: .8rem;
border: none;
cursor: pointer;
outline: none;
}